<div>
  <h3>Название товара</h3>
  <input type="text" id="ProductName" placeholder="Введите название товара" ng-model="productName">
  <h3>Цена товара</h3>
  <input type="text" placeholder="Введите цену товара" ng-model="unitCoast">
  <h3>Единица измерения</h3>
  <input type="text" placeholder="Введите единицу измерения" ng-model="unitName"><br>
  <h3>Выбеите скидки</h3>

  <div class="hideScroll">
    <select name="discountSelect" ng-model="selectedDiscount" multiple>
      <option ng-repeat="option in discountsMas"
              ng-value="option.id" class="panel panel-primary">{{option.amountDiscount}} % c {{option.actualFrom}} по {{option.actualTo}}</option>
    </select>
  </div>

  <div class="dialogButtons">
  <button class="btn btn-primary">Добавить</button>
  <button class="btn btn-danger">Отмена</button>
  </div>
</div>
