<h3>Товары</h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Название</th>
    <th>Цена за единицу</th>
    <th>Единица измерения</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in items">
    <td>{{item.name}}</td>
    <td>{{item.unitCoast|currency }}</td>
    <td>{{item.unitName}}</td>
    <td>
      <button ng-click="addItem()" class="btn btn-primary">Добавить товар</button>
      <button ng-click="editProductHandler() " id="editBtn" class="btn btn-primary">Изменить товар</button>
      <button ng-click="editProductHandler()" class="btn btn-danger">Удалить товар</button>
    </td>
  </tr>
  </tbody>
</table>

<button ng-click="sendRequest()">Загрузить товары</button>
<p><input type="checkbox" ng-model="showAddDiv"/>Показать скидки</p>

<div ng-show="showAddDiv">
  <div>
    <ul class="nav nav-tabs" ng-init="itemCtrl.currentIndex=0;">
      <li ng-repeat="discount in discountsMas track by $index"
          ng-class="{'active': $index === currentIndex}">
          <a href="#tab{{$index}}" data-toggle="tab" ng-click="itemCtrl.currentIndex = $index;">Скидка размером {{discount.amountDiscount}} %</a>
      </li>
    </ul>


    <div class="tab-content">
      <div ng-repeat="discount in discountsMas track by $index" class="tab-pane" id="tab{{$index}}"
           ng-class="{'active': $index === itemCtrl.currentIndex}">
        <div>
          <p>Действует с {{discount.actualFrom}} </p>
          <p>Действует по {{discount.actualTo}} </p>
          <p>Величина скидки {{discount.amountDiscount}} %</p>
        </div>
      </div>
    </div>
  </div>
</div>
