<h3>Продавцы</h3>
<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th>Email</th>
      <th>Адрес доставки</th>
      <th>Период продаж</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="seller in sellers">
      <td>{{seller.firstName}}</td>
      <td>{{seller.middleName}}</td>
      <td>{{seller.lastName}}</td>
      <td>{{seller.birthDate}}</td>
      <td>{{seller.email}}</td>
      <td>{{seller.deliveryAddress}}</td>
      <td>c {{seller.sale.orderDate}} по {{seller.sale.deliveryDate}}</td>
      <td>
        <button class="btn btn-primary" ng-click="addNewSeller()">Добавить продавца</button>
      </td>
      <td>
        <button class="btn btn-primary" ng-click="editSeller()">Изменить</button>
      </td>
      <td>
        <button class="btn btn-danger" ng-click="deleteSeller()">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button ng-click="getAllSellers()">Загрузить продавцов</button>
</div>
