<div>
  <h3>Продажи</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Дата закааза</th>
      <th>Дата поставки</th>
      <th>Количество продукта</th>
      <th>Покупатель</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sale in sales">
      <td>{{sale.orderDate}}</td>
      <td>{{sale.deliveryDate}}</td>
      <td>{{sale.amountProduct}}</td>
      <td>{{sale.buyer.firstName}} {{sale.buyer.middleName}} {{sale.buyer.lastName}}</td>
      <td><button class="btn btn-primary" ng-click="addNewSale()">Добавить продажу</button></td>
      <td><button class="btn btn-primary" ng-click="editSale()">Изменить продажу</button></td>
      <td><button class="btn btn-danger" ng-click="deleteSale()">Удалить продажу</button></td>
    </tr>
    </tbody>
  </table>
  <button ng-click="getAllSells()">Загрузить продажи</button>

  <p><input type="checkbox" ng-model="showAddDiv"/>Показать товары</p>

  <div ng-show="showAddDiv">

      <ul class="nav nav-tabs" ng-init="saleCtrl.currentIndex=0;">
        <li ng-repeat="product in salesProducts track by $index"
            ng-class="{'active': $index === currentIndex}">
          <a href="#tab{{$index}}" data-toggle="tab" ng-click="saleCtrl.currentIndex = $index;">{{product.name}}</a>
        </li>
      </ul>


      <div class="tab-content">
        <div ng-repeat="product in salesProducts track by $index" class="tab-pane" id="tab{{$index}}"
             ng-class="{'active': $index === saleCtrl.currentIndex}">
          <div>
            <p>Название  {{product.name}} </p>
            <p>Стоимость  {{product.unitCoast|currency }} </p>
            <p>Ед. измерения  {{product.unitName}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
