<div>
  <h3>Фамилия</h3>
  <input type="text" placeholder="Введите фамилию" ng-model="firstName">
  <h3>Имя</h3>
  <input type="text" placeholder="Введите имя" ng-model="middleName">
  <h3>Отчество</h3>
  <input type="text" placeholder="Введите отчество" ng-model="lastName">
  <h3>Дата рождения</h3>
  <input type="text" placeholder="Введите дату рождения" mask="99.99.9999" ng-model="birthDate">
  <h3>Email</h3>
  <input type="text" placeholder="Введите адрес эл. почты" ng-model="email">
  <h3>Телефон</h3>
  <input type="text" placeholder="Введите телефон" ng-model="phone">
  <h3>Адрес проживания</h3>
  <input type="text" placeholder="Введите адоес проживания" ng-model="livingAddress"><br>
  <button class="btn btn-primary">Добавить</button>
  <button class="btn btn-danger">Отменить</button>
</div>
