<div>
  <h3>Покупатели</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th>Телефонный номер</th>
      <th>Адрес</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="buyer in buyres">
      <td>{{buyer.firstName}}</td>
      <td>{{buyer.middleName}}</td>
      <td>{{buyer.lastName}}</td>
      <td>{{buyer.birthDate}}</td>
      <td>{{buyer.phoneNumber}}</td>
      <td>{{buyer.livingAddress}}</td>
      <td><button class="btn btn-primary" ng-click="showBuyerDialog()">Добавить покупателя</button></td>
      <td><button ng-click="editBuyer()" class="btn btn-primary">Изменить покумателя</button></td>
      <td><button ng-click="deleteBuyer()" class="btn btn-danger">Удалить покупателя</button></td>
    </tr>
    </tbody>
  </table>
  <button ng-click="getAllBuyers()">Загрузить покупателей</button><br>
  <p><input type="checkbox" ng-model="showAddDiv"/>Показать скидки</p>

<div ng-show="showAddDiv">
  <div>
    <ul class="nav nav-tabs" ng-init="buyerCtrl.currentIndex=0;">
      <li ng-repeat="discount in discountsMas track by $index"
          ng-class="{'active': $index === currentIndex}">
          <a href="#tab{{$index}}" data-toggle="tab" ng-click="buyerCtrl.currentIndex = $index;">Скидка размером {{discount.amountDiscount}} %</a>
      </li>
    </ul>

    <div class="tab-content">
      <div ng-repeat="discount in discountsMas track by $index" class="tab-pane" id="tab{{$index}}"
           ng-class="{'active': $index === buyerCtrl.currentIndex}">
        <div>
          <p>Действует с {{discount.actualFrom}} </p>
          <p>Действует по {{discount.actualTo}} </p>
          <p>Величина скидки {{discount.amountDiscount}} %</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


